# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
*.log

# Flask
instance/
.env
*.db
*.sqlite3

# Virtualenv
venv/
ENV/
env/

# Editor
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Tests
.coverage
htmlcov/
*.pytest_cache/
